
<!-- Navigation --> 
<nav class="navbar navbar-expand-lg navbar-dark bg-info text-white mb-4">

    <a class="navbar-brand" href="#">outsmART</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="{% url 'pages:index' %}">Home</a>
        <a class="nav-item nav-link" href="{% url 'products:browse' %}">Browse Products</a>

        <!-- Buttons shown if user logged in --> 
        {% if user.is_authenticated %}
        <div class= "nav-item nav-link" >
          <div class="dropdown">
            <div class="dropbtn"> Chat</div>
            <div class="dropdown-content">
              <a href="{% url 'chat:room' user.username %}">My Chatroom</a>
              <a href="{% url 'chat:entry' %}">Join a Chatroom</a>
            </div>
          </div>
        </div>

        <a class="nav-item nav-link" href="{% url 'products:orders' %}">My Orders</a>
        <div class= "nav-item nav-link" >
          <div class="dropdown">
            <div class="dropbtn"> Control Panel</div>
            <div class="dropdown-content">
              <a href="{% url 'products:add' %}">Add Products</a>
              <a href="{% url 'products:listings' %}">View Listings</a>
              <a href="{% url 'products:manage_orders' %}">Manage Orders</a>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>

    {% if user.is_authenticated %}
      <div class="navbar-nav">
        <a class="btn btn-danger" style="margin-right: 10px;"  href="{% url 'products:wishlist' %}"><i class="fas fa-heart"></i> Wishlist</a>
        <a class="btn btn-dark" href="{% url 'products:order_summary' %}"> <i class="fas fa-shopping-basket"></i> Cart</a>
        <a class="nav-item nav-link" href="{% url 'account:logout' %}"><i class="fas fa-sign-out-alt"></i> Logout {{user.username}}</a>
      </div>
    {% else %}
      <div class="navbar-nav">
          <a class="nav-item nav-link" href="{% url 'account:login' %}">Login</a>
          <a class="nav-item nav-link" href="{% url 'account:signup' %}">Register</a>
      </div>
    {% endif %}

</nav>