

<nav class="navbar navbar-expand-lg navbar-dark bg-info text-white mb-4">
    <a class="navbar-brand" href="#">outsmART</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="{% url 'pages:index' %}">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">My Orders</a>
        <a class="nav-item nav-link" href="{% url 'products:browse' %}">Browse Products</a>
        <a class="nav-item nav-link" href="{% url 'products:add' %}">Add Products</a>

      </div>
    </div>

    <div class="navbar-nav">
        <a class="nav-item nav-link" href="{% url 'account:login' %}">Login</a>
        <a class="nav-item nav-link" href="{% url 'account:signup' %}">Register</a>

    </div>

  </nav>