{% extends 'base.html' %}

{% block title %}
    Browse
{% endblock %}

{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'products/productstyle.css' %}" type="text/css">

<ul class="messages">
        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
</ul>

<div class="card text-center mb-3">
  <div class="card-body">

    <form action="" method="POST" enctype="multipart/form-data" >
      {% csrf_token %}
      {{ form }}
      <button type="submit">Submit</button>
    </form>

  </div>
</div>

<div class="row">

{% for p in products %}

<div class="product-card">
  <div class="badge">Hot</div>
  <div class="product-tumb">
    <img src="{{p.image.url}}" alt="">
  </div>
  <div class="product-details">
    <span class="product-catagory">{{p.tags}}</span>
    <h4><a href="{% url 'products:detail' p.id %}">{{p.title}}</a></h4>
    <p>{{p.summary}}</p>
    <div class="product-bottom-details">
      <div class="product-price">${{p.price|floatformat:2}}</div>
      <div class="product-links">
          <form>
           {% csrf_token %}
           <button onclick='addWishlist("{{p.id}}")' class="btn btn-danger" name="product" ><i class="fas fa-heart"></i></button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endfor %}

</div> 


<script type="text/javascript">

function addWishlist(value) {
    link = "{% url 'products:add_wishlist' %}";
    $.ajax({
      type:'POST',
      url: link,
      data:{
        product: value,
        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
      },
      success: function(){
        alert("Added product to wishlist");
      }
    });
}  
</script>




{% endblock %}
