{% extends 'base.html' %}

{% block title %}
    Cart
{% endblock %}

{% block content %}

<!-- Display success / error messages -->
<ul class="messages">
        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
</ul>

<!--Display shopping cart -->
<div class="px-4 px-lg-0">
    <div>
        <h1 style="font-family: 'Serif'; text-align: center;"> Shopping Cart <a href="{% url 'products:browse' %}" class="btn btn-info rounded-pill border-0" style="background-color: goldenrod">Continue Shopping <span style="content: '\27BE'; size: A5">&#10174;</span></a></h1>
    </div>
    <br>

    <div class="pb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 p-5 bg-grey rounded shadow-sm mb-5" style="background-color: #F6F6F6;">
                    <!-- Shopping cart table -->
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col" class="border-0 bg-info text-white">
                                    <div class="p-2 px-3 text-uppercase">Product</div>
                                </th>
                                <th scope="col" class="border-0 bg-info text-white">
                                    <div class="py-2 text-uppercase">Price</div>
                                </th>
                                <th scope="col" class="border-0 bg-info text-white">
                                    <div class="py-2 text-uppercase">Quantity</div>
                                </th>
                                <th scope="col" class="border-0 bg-info text-white">
                                    <div class="py-2 text-uppercase">Remove</div>
                                </th>
                            </tr>
                            </thead>
                            
                            <!-- Display all products in the table -->
                            <tbody>
                                {% for item in order.get_cart_items %}
                                <tr>
                                    <th scope="row" class="border-1">
                                        <div class="p-2">
                                            <img src="{{ item.product.image.url }}" alt="" width="120" class="img-fluid rounded shadow-sm">
                                            <div class="ml-3 d-inline-block align-middle">
                                                <h5 class="mb-0"> <a href="#" class="text-dark d-inline-block align-middle">{{ item.product.title }}</a></h5><span class="text-muted font-weight-normal font-italic d-block">Category: {{ item.product.tags }}</span>
                                            </div>
                                        </div>
                                    </th>
                                    <td class="border-1 align-middle"><strong>${{ item.product.price|floatformat:2 }}</strong></td>
                                    {% if item.quantity > item.product.stock %}
                                    <td class="border-1 align-middle"><strong><a href="" class="btn btn-info border-0 disabled" style="">Out of Stock</a></strong></td>
                                    {% else %}
                                    <td class="border-1 align-middle"><strong>{{ item.quantity }} <a href="{% url 'products:edit_item' item_id=item.id %}" class="text-dark"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></strong></td>
                                    {% endif %}
                                    <td class="border-1 align-middle"><a href="{% url 'products:delete_item' item_id=item.id %}" class="text-dark"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan=4 style="text-align: center"> <h4>Your cart is empty</h4></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Additional info and buttons -->
            <div class="row py-5 p-4 rounded shadow-sm" style="background-color: #F6F6F6;">
                <div class="col-lg-6">
                    <div class="bg-info text-white rounded-pill px-4 py-3 text-uppercase font-weight-bold">Coupon code</div>
                    <div class="p-4">
                        <p class="font-italic mb-4">If you have a coupon code, please enter it in the box below</p>
                        <div class="input-group mb-4 border rounded-pill p-2">
                            <input type="text" placeholder="Enter coupon code" aria-describedby="button-addon3" class="form-control border-0" style="background-color: #F6F6F6;">
                            <div class="input-group-append border-0">
                                <button id="button-addon3" type="button" class="btn btn-dark px-4 rounded-pill"><i class="fa fa-gift mr-2"></i>Apply</button>
                            </div>
                        </div>
                    </div>
                    <div class="bg-info text-white rounded-pill px-4 py-3 text-uppercase font-weight-bold">Additional Instructions</div>
                    <div class="p-4">
                        <p class="font-italic mb-4">If you some additional requests for the seller, please leave an entry in the box provided below</p>
                        <textarea name="" cols="30" rows="2" class="form-control" style="background-color: #F6F6F6;"></textarea>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="bg-info text-white rounded-pill px-4 py-3 text-uppercase font-weight-bold">Order summary </div>
                    <div class="p-4">
                        <p class="font-italic mb-4">Additional costs have been calculated based on standards and regulations.</p>
                        <ul class="list-unstyled mb-4">
                            <li class="d-flex justify-content-between py-3 border-bottom">
                                <strong class="text-muted">Order Subtotal </strong>
                                {% if order.get_cart_total != None %}
                                <strong>${{ order.get_cart_total|floatformat:2 }}</strong></li>
                                {% endif %}
                            <li class="d-flex justify-content-between py-3 border-bottom">
                                <strong class="text-muted">Shipping charges</strong>
                                {% if order.get_shipping_charges != None %}
                                <strong>${{order.get_shipping_charges|floatformat:2}}</strong></li>
                                {% endif %}
                            <li class="d-flex justify-content-between py-3 border-bottom">
                                <strong class="text-muted">Tax (10%)</strong>
                                {% if order.get_tax != None %}
                                <strong>${{order.get_tax|floatformat:2}}</strong></li>
                                {% endif %}
                            <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Order Total</strong>
                                {% if order.get_cart_total_plus_tax_plus_shipping != None %}
                                <h5 class="font-weight-bold">${{ order.get_cart_total_plus_tax_plus_shipping|floatformat:2 }}</h5>
                                {% endif %}
                            </li>
                        </ul>
                        {% if order.get_cart_total_plus_tax_plus_shipping != None%}
                        <a href="{% url 'products:checkout' %}" class="btn btn-dark rounded-pill py-2 btn-block">Proceed to checkout</a>
                        {% else %}
                        <a href="{% url 'products:checkout' %}" class="btn btn-dark rounded-pill py-2 btn-block disabled">Proceed to checkout</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


