{% extends 'base.html' %}

{% block title %}
    Checkout
{% endblock %}

{% block content %}
<ul class="messages">
        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
</ul>

{% load static %}

<div class="container">
  <section>
    <div class="row" id="tablerow">
      <div class="col-md-4 col-xs-12">
        <div class="panel panel-primary">
          <div class="panel-body">
            <h5>Enter Shipping/Billing Address:</h5>
            <div>
                <br>
                <span>
                    <a href="{% url 'products:update_address' %}" class="btn btn-info rounded-pill border-0" style="background-color: goldenrod">Proceed to Update Address</a>
                </span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-8 col-xs-12 pull-right">
        <table class="table">
          <tr>
            <td colspan="2">
                <h4>Order Summary</h4>
            </td>
          </tr>

          {% for item in order.get_cart_items %}
          <tr>
            <td>{{ item.product.title }}</td>
            <td>${{ item.product.price|floatformat:2 }} x {{ item.quantity }}</td>
          </tr>
          {% endfor %}
          <tr>
              <td><strong>Shipping charges:</strong> </td>
              <td> <strong>${{ order.get_shipping_charges|floatformat:2 }}</strong></td>
          </tr>
            <tr>
              <td><strong>Taxes:</strong> </td>
              <td> <strong>${{ order.get_tax|floatformat:2 }}</strong></td>
          </tr>
          <tr>
              <td><strong>Order Total (including tax and shipping charges)</strong> </td>
              <td> <strong>${{ order.get_cart_total_plus_tax_plus_shipping|floatformat:2 }}</strong></td>
          </tr>
        </table>
        {% if order.address_filled == True %}
        <form action="{% url 'products:charge' %}" method="POST">
            {% csrf_token %}
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="{{ key }}"
                    data-description="Stripe Payment Gateway"
                    data-amount="{{ amount }}"
                    data-locale="auto">
            </script>
        </form>
        {% else %}
          <span class="badge badge-pill badge-secondary">Please update Shipping Address before proceeding to payment</span>
        {% endif %}

      </div>
    </div>
  </section>
</div>

{% endblock %}