{% extends 'base.html' %}
{% block content %}
<div class="col-md-6 m-auto">
    <div class="card text-left mb-3">
        <div class="card-header bg-info text-light"> <i class="fa fa-trash-o" aria-hidden="true"></i> Delete Product</div>
        <div class="card-body">
            <span style="text-align: center; margin: auto;">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h5>Are you sure you want to delete product titled "{{ product.title }}"?</h5>
                    <input type="submit" value="Confirm" class="btn btn-danger">
                </form>
                </span>
        </div>
    </div>
</div>
{% endblock content %}