{% extends 'base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'products/productstyle.css' %}" type="text/css">

 <main class="product-container">
 
    <!-- Left Column / Headphones Image -->
    <div class="left-column">
      <img src="{{product.image.url}}" alt="" class="active">
    </div>
   
   
    <!-- Right Column -->
    <div class="right-column">
   
      <!-- Product Description -->
      <div class="product-description">
        <span>{{product.tags}}</span>
        <h1>{{product.title}}</h1>
        <p>{{product.descrip}}</p>
        <span>Created by: {{product.owner}}</span>
      </div>
   
      <!-- Product Pricing -->
      <div class="product-price">
          <span>${{product.price|floatformat:2}}</span>
          {% if product.stock != 0 %}
            <a href="{% url 'products:add_to_cart' item_id=product.id %}" class="cart-btn">Add to cart</a>
          {% else %}
            <a href="" class="btn btn-danger disabled">Out of Stock</a>
          {% endif %}
      </div>

            <!-- Product Pricing -->
      <div class="product-owner">
            <p> {{product.owner}} is online</p>
            <p>Click to join {{product.owner}}'s public chat room</p>
            <p>Click to email {{product.owner}}</p>

      </div>
      

    </div>
  </main>

  <div class="reviews">
      <h1>Customer Reviews</h1>
  </div>


{% endblock %}
