{% extends 'base.html' %}

{% block title %}
    Product Listing
{% endblock %}

{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'products/productstyle.css' %}" type="text/css">

<!-- Display error/success -->
<ul class="messages">
  {% for message in messages %}
  <div class="alert {{ message.tags }} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
      {{ message }}
  </div>
  {% endfor %}
</ul>

<!-- Display all listed products -->
{% for product in products %}

<main class="listing-container">
 
  <!-- Left Column / Headphones Image -->
  <div class="listing-left-column">
    <img src="{{product.image.url}}" alt="" class="">
  </div>
 
  <!-- Right Column -->
  <div class="listing-right-column">
    <!-- Product Pricing -->
    <div class="listing-statistics">
          <p><b>PRODUCT ID:</b> #{{product.id}} </p>
          <p><b>NAME:</b> {{product.title}} </p>
          <p><b>STOCK:</b> {{product.stock}} </p>
          <p><b>SOLD:</b> {{product.sold}} </p>
          <p><b>REVENUE:</b> £{{product.revenue}} </p>
          <p><b>AVG RATING:</b> {{product.rating}} </p>
    </div>

        <!-- Product Pricing -->
      <div class="listing-controls">
        <a href="{% url 'products:detail' product.id %}" class="btn btn-primary">View</a>
        <a href="{% url 'products:edit_products' pk=product.id %}" class="btn btn-primary">Update</a>
        <a href="{% url 'products:delete_products' pk=product.id %}" class="btn btn-danger">Delete</a>
      </div>
  </div>

</main>
  

{% endfor %}


{% endblock %}
