{% extends 'base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'shop/shopstyle.css' %}" type="text/css">


<div class="container">
    <div class="card shopping-cart">
             <div class="card-header bg-danger text-light">
                 <i class="fas fa-heart" aria-hidden="true"></i>
                 Your Wishlist
                 <div class="clearfix"></div>
             </div>
             <div class="card-body">
                {% for p in products %}

                     <!-- PRODUCT -->
                     <div class="row">
                         <div class="col-12 col-sm-12 col-md-2 text-center">
                                 <img class="img-responsive" src="{{p.product.image.url}}" alt="prewiew" width="120" height="80">
                         </div>
                         <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
                             <h4 class="product-name"><strong>{{p.product.title}}</strong></h4>
                             <h4>
                                 <small>{{p.product.summary}}</small>
                             </h4>
                         </div>
                        
                        <div class="col-md-4 text-right">
                            <button type="button" class="btn btn-outline-danger btn-xs">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </div>
                     </div>
                {% endfor %}

                     
             </div>
         </div>
 </div>


{% endblock %}