{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}

<ul class="messages">
        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
</ul>

<div class="card text-center mb-3">
  <div class="card-body">

    <h1>Welcome {{request.user.username}}</h1>

    <p>This is an example Django marketplace</p>
  </div>
</div>

<div class="card text-center mb-3">
  <div class="card-body">
    <h1>Popular products</h1>
    <p>List of products</p>
  </div>
</div>


<div class="card text-center mb-3">
  <div class="card-body">
    <h1>Reccommended products</h1>
    <p>List of products</p>
  </div>
</div>


{% endblock %}